<div class="container-show">
  <div class="company-header">
    <h2 class="company-name"> <h1>Bookmark Dashboard</h1>
  </div>
    <p class="company-type"><h2>My profile</h2></p>
    <div class="company-description-score">
      <div class="company-description card-style">
      <p><%= "Name: #{@user.name}" %></p>
         <%= image_tag("avatar.jpg", class: "avatar-large", alt: "avatar-large")%>
      </div>
      <div class="company-description card-style">
      <p><%= "Email: #{@user.email}" %></p>
      <div class="email-logo">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round";>
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <rect x="3" y="5" width="18" height="14" rx="2"></rect>
      <polyline points="3 7 12 13 21 7"></polyline>
      </svg>
      </div>
      </div>
        <div class="card-style company-score-wrapper">
          <p class="company-score">Companies bookmarked:</p>
          <p class="company-rating"> <%= "#{@user.bookmarks.count}" %></p>
        </div>
    </div>
    <div class="diversity-scores card-style">
      <% @bookmarks.each do | bookmark | %>
        <p class="p-company"><%="Company: #{bookmark.company.company_name}"%></p>
        <%= link_to bookmark_path(bookmark), method: :delete do %>
         <i class="fa fa-trash fa-lg;fa-company"aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to 'About Paritize and The Team',about_path, class: 'btn btn-about mt-3' %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary-form" %>
</div>
<br>
<%= image_tag("5272-PhotoRoom.png", class: "img-dashboard") %>
