<div class="container-show">
  <div class="company-header">
    <h2 class="company-name"> <h1>Bookmark Dashboard</h1>
  </div>
    <p class="company-type"><h2>My profile</h2></p>
    <div class="company-description-score">
      <div class="company-description-bookmark card-style">
      <p><%= "Name: #{@user.name}" %></p>
         <%= image_tag("abstract-492.jpg", class: "avatar-large", alt: "avatar-large")%>
      </div>
        <div class="company-description-bookmark card-style">
          <p><%= "Email: #{@user.email}" %></p>
          <%= image_tag("email.png", class: "e-mail-logo", alt: "e-mail")%>
        </div>
          <div class="company-description-bookmark card-style">
            <p>Companies bookmarked:</p>
            <p class="company-rating"> <%= "#{@user.bookmarks.count}" %></p>
          </div>
    </div>

      <div class="main-container">
        <div class="cards-bookmarks-show card-style mt-3 mb-3">
              <% if @user.bookmarks.empty? %>
              <p>You have no Bookmarks yet</p>
              <% end %>
              <% @bookmarks.each do | bookmark | %>
              <div class="cards">
              <p class="p-company"><%="Company: #{bookmark.company.company_name}"%></p>
              <%= cl_image_tag bookmark.company.photo.key, class: "company_card_img" %>
              <%= link_to bookmark_path(bookmark), method: :delete do %>
              <i class="fa fa-trash fa-lg;fa-company"aria-hidden="true"></i>
              <% end %>
               </div>
              <% end %>
        </div>
      </div>
        <div class="container-fluid justify-content-center card-presence" style= margin-left: -7px">
          <%= link_to 'About Paritize and The Team',about_path, class: "btn btn-about" %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary-form" %>
        </div>
</div>
<br>
<%= image_tag("5272-PhotoRoom.png", class: "img-dashboard") %>
