<div class="container-show">
  <div class="company-header">
    <h2 class="company-name"> <h1>Bookmark Dashboard</h1>
  </div>
    <p class="company-type"><h2>My profile</h2></p>
    <div class="company-description-score">
      <p class="company-description card-style"><%= "Name: #{@user.name}" %></p>
      <p class="company-description card-style"><%= "Email: #{@user.email}" %></p>
        <div class="card-style company-score-wrapper">
          <p class="company-score">Companies bookmarked:</p>
          <p class="company-rating"> <%= "#{@user.bookmarks.count}" %></p>
        </div>
    </div>
    <div class="diversity-scores card-style">
      <% @bookmarks.each do | bookmark | %>
        <p><%= "Company: #{bookmark.company.company_name}" %></p>
        <%= link_to "Delete bookmark", bookmark_path(bookmark), method: :delete %>
      <% end %>
    </div>
  </div>
</div>


<div class="card-about-btn">
  <br/>
  <%= link_to 'About Paritize and The Team', class: 'btn btn-about mt-3' %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-orange" %>
</div>

<%= image_tag("5272-PhotoRoom.png", class: "img-dashboard") %>
