<div class="container-show">
  <div class="bookmark-header">
    <h1>Bookmark Dashboard</h1>
  </div>
    <p class="card-profile"><h2>My profile</h2></p>
      <div class= "profile-info">
        <p class= "card-profile-name-email card-style">
          <p class= card-name><%= "Name: #{@user.name}" %></p>
          <p class= card-email><%= "Email: #{@user.email}" %></p>
      <div>
      <div class="card-style companies-bookmarked-wrapper">
        <p class="companies-bookmarked"><%= "Companies bookmarked: #{@user.bookmarks.count}" %></p>
      </div>
      </div>
    </div>
    <div class="company-bookmark-list card-style">
      <% @bookmarks.each do | bookmark | %>
        <p><%= "Company: #{bookmark.company.company_name}" %></p>
        <%= link_to "Delete bookmark", bookmark_path(bookmark), method: :delete %>
      <% end %>
    </div>
  </div>
</div>


<div class="card-about-btn">
  <br/>
  <%= link_to 'About Paritize and The Team', class: 'btn btn-about mt-3' %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-orange" %>
</div>
