  <div class="banner">
      <div>
        <h1>Gender diversity in focus</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
        <%= simple_form_for :search, url: companies_path, method: "GET", html: { class: 'form-inline', id: 'search-form', data_click_search_target: "form" } do |f| %>
          <%= f.input :company_name, label: false, input_html: {placeholder:  "Search a company"} %>
          <%= f.submit "Search", class: "btn btn-flat" %>
        <% end %>
      </div>
      <img class='hero' src="https://res.cloudinary.com/dqpmvek08/image/upload/v1646164525/homepage_ju5r44.jpg">
    </div>
    <h1 class="logo-title">Companies we have worked with</h1>
    <div class="company-grid">
      <%@companies[0..5].each do |company|%>
      <%= cl_image_tag company.photo.key %>
      <%end%>
  </div>

<div class="banner">
  <div class="banner-text">
    <h1>Gender diversity in focus</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>

    <%= simple_form_for :search, url: companies_path, method: "GET", html: { class: 'form-inline', id: 'search-form', data_click_search_target: "form" } do |f| %>
      <%= f.input :company_name, label: false, input_html: {placeholder:  "Search a company", class: "w-100"} %>
      <%= f.submit "Search", class: "btn btn-flat", id: "search-btn" %>
    <% end %>
  </div>
  <img class='hero' src="https://res.cloudinary.com/dqpmvek08/image/upload/v1646164525/homepage_ju5r44.jpg">
</div>



<h1 class="logo-title">Companies we have worked with</h1>

<div class="company-grid">
  <%@companies[0..5].each do |company|%>
  <div class="company-logo">
    <%= cl_image_tag company.photo.key %>
    </div>
  <%end%>
</div>

<h1>We offer a complete range of resources</h1>
<div class="main-container mt-5 mb-3">
  <div class="resource-card">
   <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://www.competewith.com/compensation-and-benefits/parental-and-maternity-leave-in-tech-companies/', '_blank')">
      <img class="card-img-top" style="width: 280px;" src="https://img.freepik.com/free-vector/illustration-diverse-characters-holding-up-jigsaw-pieces_53876-40806.jpg?w=1480" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Parental leave trends in tech</h5>
        <p class="card-text">There has been a lot of buzz around parental leave, but our recent statistics show that over half (51.3%) of companies in the tech sector still don’t provide paid maternity leave at all. </p>
      </div>
   </div>
  <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://hbr.org/2019/02/research-when-gender-diversity-makes-firms-more-productive', '_blank')">
      <img class="card-img-top" src="https://hbr.org/resources/images/article_assets/2019/02/Feb19_11_855383234.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Research: When Gender Diversity Makes Firms More Productive</h5>
        <p class="card-text">The business world has long debated the effect of gender diversity on business outcomes. Does diversity make a company more productive?</p>
      </div>
  </div>
  <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://www.mckinsey.com/featured-insights/diversity-and-inclusion/women-in-the-workplace', '_blank')">
      <img class="card-img-top" style="width: 240px;" src="https://www.mckinsey.com/~/media/mckinsey/featured%20insights/diversity%20and%20inclusion/women%20in%20the%20workplace%202021/svgz-womenworkplace2021-v11-ex1.svgz" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Women in the Workplace 2021</h5>
        <p class="card-text">A year and a half into the COVID-19 pandemic, women in corporate America are even more burned out than they were last year—and increasingly more so than men.</p>
      </div>
  </div>
    <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://splashbi.com/importance-of-gender-diversity-in-the-workplace/', '_blank')">
      <img class="card-img-top" src="https://668672.smushcdn.com/1005447/wp-content/uploads/2021/06/benefits-gender-11.jpg?lossy=0&strip=1&webp=1" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Importance of gender diversity in the workplace</h5>
        <p class="card-text">Companies with gender diversity are more successful in keeping a low turnover rate, which significantly decreases their expenses. Moreover, they exhibit more innovation and make more intelligent decisions.</p>
      </div>
    </div>
    <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://www.spglobal.com/esg/csa/yearbook/articles/gender-equality-workplace-going-beyond-women-on-the-board', '_blank')">
      <img class="card-img-top" src="https://blog.psionline.com/hs-fs/hubfs/iStock-1162601332.jpg?width=1574&name=iStock-1162601332.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gender equality in the workplace: going beyond women on the board</h5>
        <p class="card-text">The outlook for gender lens investing is geared to move beyond its current focus on large-cap companies and developed markets, to also set expectations on smallcap companies and in developing markets.</p>
      </div>
    </div>
    <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://startupsmagazine.co.uk/article-new-parental-leave-guide-set-standard-vc-industry, '_blank')">
      <img class="card-img-top" style="width: 195px;" src="https://img.freepik.com/free-vector/employee-working-office-interior-workplace-flat-vector-illustration_1150-37453.jpg?w=1060" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">New parental leave guide to set standard fot the VC industry</h5>
        <p class="card-text">Diversity VC, Crowdcube and Frontline Ventures has announced the launch of the ‘Diversity VC: Parental Leave Guide’ as part of a collective of 25 top VC and tech firms. </p>
      </div>
    </div>
  </div>
</div>

<%= image_tag("https://img.freepik.com/free-vector/business-team-looking-new-people-allegory-searching-ideas-staff-woman-with-magnifier-man-with-spyglass-flat-illustration_74855-18236.jpg?w=1480", class: "img-resources") %>
