<div class="companies_container">
    <h1>Best rated companies</h1>

<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    Company types
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">Science</button></li>
    <li><button class="dropdown-item" type="button">Technology</button></li>
    <li><button class="dropdown-item" type="button">Engineering</button></li>
    <li><button class="dropdown-item" type="button">Math</button></li>
  </ul>
</div>
   <% @companies.each do | company | %>
     <div class="company_card">

       <div class="company_card_info">
        <% if company.photo.key != nil %>
          <%= link_to company_path(company) do %>
           <%= cl_image_tag company.photo.key, class: "company_card_img" %>
         <% end %>
         <div class="card-details">
           <h3><%= link_to company.company_name, company_path(company) %></h3>
           <p><%= company.hq_location %></p>
         </div>
       </div>

       <div class="rating-heart">
        <div class="rating">
            <% if company.gender_ratings.first.average_rating >= 50 %>
              <div class="circle-rating-green"></div>
            <% elsif company.gender_ratings.first.average_rating <= 29 %>
              <div class="circle-rating-red"></div>
            <% else company.gender_ratings.first.average_rating %>
              <div class="circle-rating-orange"></div>
            <% end %>
            <h4><%=company.gender_ratings.first.average_rating %>%</h4>
          </div>
          <% if company.bookmarks.find { |bookmark| bookmark.user == current_user} != nil %>
          <%= link_to bookmark_path(company.bookmarks.find { |bookmark| bookmark.user == current_user}), method: :delete  do %>
            <i class="fas fa-bookmark bookmarked"></i>
          <% end %>
          <% else %>
           <%= link_to company_bookmarks_path(company), method: :POST do%>
            <i class="fas fa-bookmark unbookmarked"></i>
          <% end %>
          <% end %>
       </div>
      </div>
    <% end %>
  <% end %>
 </div>
<%# bloody lines of code %>
