
<div class="wrapper">
  <div class ="company-details">
    <h2><%= @company.company_name %></h2>
    <%= @company.photo %>
    <p><%= @company.type_of_company %></p>
    <p>Number of employees:<%= @company.company_size %></p>
    <p>Location: <%= @company.hq_location %></p>
  </div>
   <%# <div class="company-ratings"> %>
    <%# <p><%= @company.company_description %></p>
    <%# <p><%= @gender_rating.c_rating %></p>
    <%# <p><%= @gender_rating.mid_rating %></p>
    <%# <p><%= @gender_rating.junior_rating %></p>
  <%# </div> %>
  <%= link_to "add_to_bookmarks", company_bookmarks_path(@company), class: "btn btn-primary", method: :post %>

</div>
